<div class="game-container">
  <!-- show description image if not in gaming stage  -->
  <div *ngIf="currentStage != pageStages.gaming" (click)="changeStage()" class="stage-desc">
    <img [src]="stageImgMap[currentStage].img" class="desc-image" alt="Rabbit">
  </div>

  <div *ngIf="currentStage == pageStages.gaming">
    <div class="main">
      <div class="item sentence" *ngIf="showDescImg">
        <img src="{{ showDescImg }}">
      </div>
      <div id="rabbit-container" class="rabbit-container">
        <img [src]="stageImgMap[currentStage].img" class="rabbit-image" alt="Rabbit">
      </div>
      <ng-container *ngFor="let item of items; let i=index;">
        <div class="item" (click)="itemClick(item)" [ngClass]="'item' + (i+1)" >
          <img src="{{ item.showPositive ? '/assets/images/rabbit-game/final.png':  item.img }}">
        </div>
      </ng-container>
      <div class="OK item" #OK
          cdkDrag
          (cdkDragEnded)="onItemDragEnd($event)"
          [style.top.px]="movingOkPos.position.y"
          [style.left.px]="movingOkPos.position.x"
          [cdkDragFreeDragPosition]="movingOkPos.position">
        <img src="/assets/images/rabbit-game/Ok.png">
      </div>
    </div>
  </div>
</div>
