:host {
  background: url("/assets/images/rabbit-game/bg.png") repeat-y fixed;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  height: 100dvh;
  overflow: hidden;
  display: block;
}

.game-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.rabbit-image {
  width: 100%;
  object-fit: cover;
}

.stage-desc {
  height: 100dvh;
}

.main {
  position: relative;
  height: 100dvh;
  width: 100%;

  .sentence {
    width: 70% !important;
    left: 15%;
    top: 3%;
  }

  .rabbit-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13%;
  }

  .item {
    position: absolute;
    width: 12%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .item1{
    top: 55%;
    left: 15%;
  }

  .item2 {
    top: 60%;
    right: 28%;
  }

  .item3 {
    top: 28%;
    right: 18%;
  }

  .item4 {
    top: 25%;
    left: 28%;
  }

  .OK {
    width: 10%;
  }
}

// 直
@media (orientation: portrait) {
  .main {
    height: 35dvh;
  }
}

// 橫
@media (orientation: landscape) {
  .main {
    height: 100dvh;
  }
}
