<div class="container" #container>
  <div class="hp-container mt-3" [hidden]="!isHidden">
    <div class="hp-img">
      <img src="/assets/images/crocodile-game/hp-{{ hp }}.png">
    </div>
  </div>
  <div class="main">
    <div class="crocodile">
      <img src="/assets/images/crocodile-game/crocodile.png">
    </div>
    <ng-container *ngFor="let message of viewMsgs; let i=index;">
      <div class="bubble" [ngClass]="'bubble' + (i+1)" (click)="bubbleClick(i)">
        <div>{{ message.text }}</div>
        <img src="/assets/images/crocodile-game/bubble{{i+1}}.png">
      </div>
    </ng-container>
    <div class="desc" [hidden]="isHidden">
      <img src="/assets/images/crocodile-game/desc_bg.png">
    </div>
  </div>
</div>

