<div class="container" #container>
  <!-- show description image if not in gaming stage  -->
  <div *ngIf="currentStage != pageStages.gaming" (click)="changeStage()" class="stage-desc">
    <img [src]="stageImgMap[currentStage].img" class="cow-image" alt="Cow">
  </div>
  <div *ngIf="currentStage == pageStages.gaming">
    <div class="hp-container mt-3">
      <div class="hp-img">
        <img src="/assets/images/crocodile-game/hp-{{ hp }}.png">
      </div>
    </div>
    <div class="main">
      <div class="crocodile">
        <img src="/assets/images/crocodile-game/crocodile.png">
      </div>
      <ng-container *ngFor="let message of viewMsgs; let i=index;">
        <div class="bubble" [ngClass]="'bubble' + (i+1)" (click)="bubbleClick(i)">
          <img src="{{message.imgPath}}">
        </div>
      </ng-container>
    </div>
  </div>
</div>

