:host {
  background: url("/assets/images/crocodile.gif") no-repeat center center fixed;
  height: 100vh;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
