<div class="container" #container>
  <!-- show description image if not in gaming stage  -->
  <div *ngIf="currentStage != pageStages.gaming" (click)="changeStage()" class="stage-desc">
    <img [src]="stageImgMap[currentStage].img" class="cow-image" alt="Cow">
  </div>

  <div *ngIf="currentStage == pageStages.gaming" (click)="toggleNeedleAnimation()">
    <div class="hp-container mt-3">
      <div class="hp-img ">
        <img src="/assets/images/cow-game/hp-{{ score }}.png" class="cow-image">
      </div>
    </div>
    <div class="main">
      <div id="cow-container" class="cow-container">
        <img src="/assets/images/cow-game/{{showAngryCow ? 'angry-': ''}}cow.png" class="cow-image" alt="Cow">
      </div>
      <div class="item" >
        <img [src]="showedImgPath">
      </div>
    </div>
    <div class="needle-container">
      <div class="needle" [style.left.%]="needlePosition"></div>
    </div>
  </div>
</div>




