:host {
  background: url("/assets/images/cow-game/bg.png") repeat-y fixed;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  height: 100dvh;
  overflow: hidden;
  display: block;
}

.game-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.cow-image {
  width: 100%;
  object-fit: cover;
}

.stage-desc {
  height: 100dvh;
}


.needle-container {
  position: relative;
  margin: auto;
  width: 60%;
  height: 40px;
  background-image: url("/assets/images/cow-game/needle-container.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.needle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  background-image: url("/assets/images/cow-game/needle.png");
  background-size: cover;
  transition: left 0.1s;
  z-index: 999;
}

// 直
@media (orientation: portrait) {
  .hp-container {
    position: relative;
    margin: auto;
    width: 60%;

    .hp-img {
      position: absolute;
      z-index: 2;
    }
  }

  .main {
    position: relative;
    height: 20dvh;
    width: 100%;

    .cow-container {
      position: absolute;
      top: 60%;
      left: 25%;
      transform: translate(-50%, -50%);
      width: 12%;
    }

    .item {
      position: absolute;
      width: 50%;
      top: 22%;
      right: 15%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .needle-container {
    width: 60%;
    height: 15px;
  }
}

// 橫
@media (orientation: landscape) {
  .hp-container {
    position: relative;
    margin: auto;
    width: 60%;

    .hp-img {
      position: absolute;
      z-index: 2;
    }
  }

  .main {
    position: relative;
    height: 80dvh;
    width: 100%;

    .cow-container {
      position: absolute;
      top: 60%;
      left: 25%;
      transform: translate(-50%, -50%);
      width: 12%;
    }

    .item {
      position: absolute;
      width: 50%;
      top: 22%;
      right: 15%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

