h3 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-fluid {
  max-width: 40%;
  margin: 0.5rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  align-content: center;
  justify-content: center;
}
