<h3 class="m-3">Outsiders games</h3>
<div class="items">
  <!-- chat game -->
  <img src="/assets/images/crocodile.gif"
      class="rounded float-left img-fluid"
      routerLink="/crocodile">

  <img src="/assets/images/cow.gif"
      class="rounded float-right img-fluid"
      routerLink="/cow">

  <img src="/assets/images/rabbit.gif"
      class="rounded float-left img-fluid"
      routerLink="/rabbit">

  <img src="/assets/images/hedgehog.gif"
      class="rounded float-right img-fluid"
      routerLink="/hedgehog">

  <img src="/assets/images/meerkat.gif"
      class="rounded float-left img-fluid"
      routerLink="/meerkat">

  <img src="/assets/images/sloth.gif"
      class="rounded float-right img-fluid"
      routerLink="/sloth">
</div>
