<h3 class="m-3">Outsiders games</h3>
<div class="items">
  <!-- chat game -->
  <img src="/assets/images/home/crocodile.png"
      class="rounded float-left img-fluid"
      routerLink="/crocodile">

  <img src="/assets/images/home/cow.png"
      class="rounded float-right img-fluid"
      routerLink="/cow">

  <img src="/assets/images/home/rabbit.png"
      class="rounded float-left img-fluid"
      routerLink="/rabbit">

  <img src="/assets/images/home/hedgehog.png"
      class="rounded float-right img-fluid"
      routerLink="/hedgehog">

  <img src="/assets/images/home/meerkat.png"
      class="rounded float-left img-fluid"
      routerLink="/meerkat">

  <img src="/assets/images/home/sloth.png"
      class="rounded float-right img-fluid"
      routerLink="/sloth">
</div>
